.team-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  padding: 20px;
  &:nth-child(2), &:nth-child(3) {
    width:47%;
    float: left;
  }
  h2 {
    color: #313131;
    font-family: $playfair;
    font-style: italic;
    border-top:1px solid #ccc;
    margin-top:15px;
    padding: 15px;
    small {
      font-family: $anago;
      font-style: normal;
      color: #777777;
      font-size: .85em;
    }
  }
  &:hover {
    img {
      -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
      filter: grayscale(0%);
    }
  }
  img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  &.mini {
    img {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden;
      max-width:150px;
      margin: 0 auto;
      display: block;
      border:1px solid #ccc;
      padding: 5px;
    }
  }
  hr {
    background: #ccc;
    height:1px;
    border:0;
    outline:0;
    margin:25px 0;
    padding:0 0;
  }
  p.bio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
    font-family: $anago;
    border:1px solid #f2f2f2;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width:640px) {
  .team-block {
    &:nth-child(2), &:nth-child(3) {
      width: 100%;

    }
  }
}